*{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: #0f0f0f;
  color: #ffffff;
}

#profile-image{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
  
}

.container {
  margin-bottom: 250px;
}

.project img{
  width:70%;
  height: auto;
}

.project a{
  text-decoration: none;
}

.games img{
  width: 25%;
  height: auto;
}

.games a{
  text-decoration: none;
}

.Photos img{
  width: 25%;
  height: auto;
}